# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_XIMI

config ZMK_KEYBOARD_NAME
    default "ximi"

config SPI
        default y

config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2048

if ZMK_BACKLIGHT

config LED_GPIO
    default y

endif # ZMK_BACKLIGHT

endif